PGHOST=your-pg-url
PGPORT=your-pg-port
PGUSER=your-pg-user
PGPASSWORD=your-pg-password
PGDATABASE=your-pg-database
NUXT_SESSION_PASSWORD=your-session-password
NUXT_OAUTH_AUTHENTIK_CLIENT_ID=your-authentik-client-id
NUXT_OAUTH_AUTHENTIK_CLIENT_SECRET=your-authentik-client-secret
NUXT_OAUTH_AUTHENTIK_DOMAIN=your-authentik-domain
AUTHENTIK_ADMIN_GROUP=your-authentik-admin-group