NUXT_DB_HOST=your-pg-url
NUXT_DB_PORT=your-pg-port
NUXT_DB_USER=your-pg-user
NUXT_DB_PASSWORD=your-pg-password
NUXT_DB_DATABASE=your-pg-database
NUXT_SESSION_PASSWORD=your-session-password
NUXT_OAUTH_AUTHENTIK_CLIENT_ID=your-authentik-client-id
NUXT_OAUTH_AUTHENTIK_CLIENT_SECRET=your-authentik-client-secret
NUXT_OAUTH_AUTHENTIK_DOMAIN=your-authentik-domain
AUTHENTIK_ADMIN_GROUP=your-authentik-admin-group